# Re-route the user to HTTPS if they try to access HTTP
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Control that Cache

# One Month for Images
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

# One Day for Everything else
<filesMatch ".(css|js|php|html)$">
Header set Cache-Control "max-age=86400, public"
</filesMatch>
