/* Add here all your css styles (customizations) */

@charset "UTF-8";

.bg-white-0-75 {
	background:rgba(255,255,255,0.75);
}

.bg-white-0-90 {
	background:rgba(255,255,255,0.95);
}

.bg-black-0-70 {
	background:rgba(0,0,0,0.7);
}

.main-body {
	background: url("../img/all.bg.body.jpg");
	background-repeat: no-repeat;
	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
}

.container-bg {
	background: url("../img/all.bg.gray.jpg");
	background-repeat: no-repeat;
	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
}

.home-lg-col {
    border: 2px 0px 2px 2px double #0D042F;
}

.home-sm-col {
    border-right: 10px solid #0D042F;
}

.main-container {
    background:rgba(255,255,255,0.89);
    border-radius:5px 30px 5px 30px;
    padding: 20px;
    border: 2px solid #0D042F;
}

.mt-body-sm {
    margin-top: 70px;
}

.mt-body-lg {
    margin-top: 82px;
}

.g-hide {
    display: none;
}
